*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 40px;
    height: 53px;
    /* border: 2px solid red; */
}
.logo img{
    width: 123px;
}
header{
    /* width: 100%; */
    /* border: 2px solid blue; */
    margin-top: 12px;
}
nav{
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content:space-around;
    /* border: 2px solid green; */
}
.right ul{
    display: flex;
    gap: 23px;
}
.right ul li{
    list-style: none;
}